flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
atomicwrites==1.3.0
pycodestyle==2.5.0

# Dependencias do pytest
attrs==19.3.0
colorama==0.4.3
more-itertools==8.0.2
pluggy==0.13.1
pytest==5.3.1
py==1.8.0
pytest-django==3.7.0
coverage==4.5.4
pytest-cov==2.7.1
-r requirements.txt